#target server for volumes backup 
BK_SERVER1_IP=10.10.8.231
BK_SERVER1_USER=robin
BK_SERVER1_PASSWORD=password
#BK_SERVER1_CERT=mycert.pem
#target server for portainer sync
#make sure you have put user in sudoer without password for rsync
SYNC_SERVER_IP=10.10.8.231
SYNC_SERVER_USER=robin
SYNC_SERVER_PASSWORD=password
#email report
SMTP_SERVER=smtp.mydomain.com
SMTP_ACCOUNT=noreply@mydomain.com
SMTP_PASSWORD=password
EMAIL_TO=peyoot@hotmail.com
##PORTAINER URL Please use the IP or Domain that the script can access, for example http://172.0.0.1:9000 
PORTAINER_ADMIN=peyoot
PORTAINER_PASSWORD=mypassword
PORTAINER_URL="http://127.0.0.1:9000"
PORTAINER_API_KEY="ptr_brGiddyGG1NFXGIvM7jAfYRmmGsT/nnYRnKtviGP6riU="
PORTAINER_PATH=~/docker/portainer
