BK_SERVER1_IP=10.2.1.1
BK_SERVER1_USERNAME=peyoot
BK_SERVER1_PASSWORD=password
#BK_SERVER1_CERT=mycert.pem
SMTP_SERVER=my.smtp.server
SMTP_ACCOUNT=my@email.com
SMTP_PASSWORD=smtppassword
SMTP_MAILTO=peyoot@hotmail.com
