BK_SERVER1_IP=10.2.1.1
BK_SERVER1_USERNAME=peyoot
BK_SERVER1_PASSWORD=password
#BK_SERVER1_CERT=mycert.pem
SMTP_SERVER=my.smtp.server
SMTP_ACCOUNT=my@email.com
SMTP_PASSWORD=smtppassword
EMAIL_TO=peyoot@hotmail.com
##PORTAINER URL Please use the IP or Domain that the script can access, for example http://172.0.0.1:9000 
PORTAINER_ADMIN=admin
PORTAINER_PASSWORD=password
PORTAINER_URL=http://172.0.0.1:9000
PORTAINER_API_KEY=ptr_1234567890abcdef

