[Unit]
Description=Run server-maintainer on schedule
[Timer]
OnCalendar=*-*-* 22:00:00
Unit=server-maintainer.service
Persistent=true
[Install]
WantedBy=multi-user.target
